<h1>List of projects <%= link_to  "Create project +", new_project_path %></h1>
<ul>
<% @projects.each do |pro| %>
  <li>
    <%= pro.name %>
    <%= link_to  'Ver detalle', pro %>
    <%= link_to  "Editar", edit_project_path(pro) %>
  </li>
<% end %>
</ul>